# Classification 
* y categerigal 
* 2 class = binary classfication 
# Aloritheam

# Logistic regression
Logistic regression is a supervised machine learning algorithm used for classification tasks where the goal is to predict the probability that an instance belongs to a given class or not. Logistic regression is a statistical algorithm which analyze the relationship between two data factors. The article explores the fundamentals of logistic regression, it’s types and implementations.
* Logistic regression is used for binary classification where we use sigmoid function, that takes input as independent variables and produces a probability value between 0 and 1.
### Types of Logistic Regression
On the basis of the categories, Logistic Regression can be classified into three types:

Binomial: In binomial Logistic regression, there can be only two possible types of the dependent variables, such as 0 or 1, Pass or Fail, etc.
Multinomial: In multinomial Logistic regression, there can be 3 or more possible unordered types of the dependent variable, such as “cat”, “dogs”, or “sheep”
Ordinal: In ordinal Logistic regression, there can be 3 or more possible ordered types of dependent variables, such as “low”, “Medium”, or “High”.

# Key Points:
* Logistic regression predicts the output of a categorical dependent variable. Therefore, the outcome must be a categorical or discrete value.
* It can be either Yes or No, 0 or 1, true or False, etc. but instead of giving the exact value as 0 and 1, it gives the probabilistic values which lie between 0 and 1.
* In Logistic regression, instead of fitting a regression line, we fit an “S” shaped logistic function, which predicts two maximum values (0 or 1).

# Logistic Function – Sigmoid Function
* The sigmoid function is a mathematical function used to map the predicted values to probabilities.
* It maps any real value into another value within a range of 0 and 1. The value of the logistic regression must be between 0 and 1, which cannot go beyond this limit, so it forms a curve like the “S” form.
* The S-form curve is called the Sigmoid function or the logistic function.
* In logistic regression, we use the concept of the threshold value, which defines the probability of either 0 or 1. Such as values above the threshold value tends to 1, and a value below the threshold values tends to 0.

<img src="E:\Python_Library\Machine_learning\singmoid function .png" alt="Alt text" title="Optional title">

In [2]:
# import the necessary libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
cust_satisfaction_dt = pd.read_csv('cust_satisfaction.csv')
cust_satisfaction_dt

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [4]:
# cust_satisfaction_dt.isnull().sum() 
cust_satisfaction_dt.dropna(inplace=True)

In [5]:
# cust_satisfaction_dt.isnull().sum()
# cust_satisfaction_dt['Customer Type'].value_counts()
# cust_satisfaction_dt_dt = {'Loyal Customer':1,'disloyal Customer':0} # create a dict 
#balance data and inblance 
  ##

In [6]:
cust_satisfaction_dt.drop_duplicates(inplace=True)

In [7]:
cust_satisfaction_dt.duplicated().sum()

0

In [8]:
cust_satisfaction_dt

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [9]:
loyal_customer =cust_satisfaction_dt[cust_satisfaction_dt['Customer Type']=='Loyal Customer']
disloyal_Customer =cust_satisfaction_dt[cust_satisfaction_dt['Customer Type']=='disloyal Customer']

In [10]:
# loyal_customer.value_counts()

In [11]:
loyal_cust=loyal_customer.sample(21000)

In [12]:
balance_df = pd.concat([loyal_cust,disloyal_Customer],axis=0)
balance_df.head()
balance_df.shape

(39905, 12)

In [13]:
cat_col = balance_df.select_dtypes(include='O')
cat_col.head()
cat_col.shape

(39905, 5)

In [14]:
num_value = balance_df.select_dtypes(exclude='O')
num_value.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
65780,43,2673,1,1,3,53,37.0
92811,9,1416,2,4,2,0,0.0
26867,11,2075,3,4,3,4,65.0
64262,24,3820,2,3,2,13,17.0
78635,31,216,4,3,4,81,71.0

In [15]:
from sklearn.preprocessing import LabelEncoder ,OneHotEncoder

In [16]:
onehot_encoder  = OneHotEncoder(drop='if_binary')
# onehot_encoder01 = OneHotEncoder()
onehot_data =onehot_encoder.fit_transform(cat_col).toarray()
onehot_encoder.get_feature_names_out()

array(['Gender_Male', 'Customer Type_disloyal Customer',
       'Type of Travel_Personal Travel', 'Class_Business', 'Class_Eco',
       'Class_Eco Plus', 'satisfaction_satisfied'], dtype=object)

In [17]:
onehot_data =onehot_encoder.fit_transform(cat_col).toarray()
# onehot_data.shape
onehot_data.shape

(39905, 7)

In [18]:
coloum_name_lst =list(onehot_encoder.get_feature_names_out())
coloum_name_lst

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [19]:
onehot_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [20]:
one_hot=pd.DataFrame(onehot_data,columns=coloum_name_lst)
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [21]:
num_value.reset_index(drop = True,inplace = True)

In [22]:
final_df = pd.concat([num_value,one_hot],axis=1)
final_df.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,43,2673,1,1,3,53,37.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,9,1416,2,4,2,0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,11,2075,3,4,3,4,65.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,24,3820,2,3,2,13,17.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,31,216,4,3,4,81,71.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [23]:
final_df.isnull().sum()
# final_df.duplicated().sum()

Age                                0
Flight Distance                    0
Inflight entertainment             0
Baggage handling                   0
Cleanliness                        0
Departure Delay in Minutes         0
Arrival Delay in Minutes           0
Gender_Male                        0
Customer Type_disloyal Customer    0
Type of Travel_Personal Travel     0
Class_Business                     0
Class_Eco                          0
Class_Eco Plus                     0
satisfaction_satisfied             0
dtype: int64

In [24]:
# final_df.to_csv('cust_satisfaction_cleaned.csv',index=False)
x = final_df.drop('Customer Type_disloyal Customer',axis=1)
y = final_df[['Customer Type_disloyal Customer']]

In [25]:
x

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,43,2673,1,1,3,53,37.0,0.0,0.0,1.0,0.0,0.0,0.0
1,9,1416,2,4,2,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,11,2075,3,4,3,4,65.0,1.0,1.0,0.0,1.0,0.0,0.0
3,24,3820,2,3,2,13,17.0,1.0,0.0,1.0,0.0,0.0,0.0
4,31,216,4,3,4,81,71.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test ,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
x_train

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
33048,37,328,4,1,4,11,15.0,1.0,0.0,0.0,1.0,0.0,0.0
5572,37,304,2,3,2,6,5.0,0.0,0.0,0.0,0.0,1.0,0.0
3806,48,845,5,5,2,10,19.0,0.0,0.0,0.0,1.0,0.0,1.0
35907,23,305,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
19707,37,1703,4,4,3,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,33,819,2,3,2,18,6.0,1.0,0.0,1.0,0.0,0.0,0.0
11284,30,728,3,3,3,3,15.0,0.0,0.0,0.0,0.0,1.0,0.0
38158,36,666,3,5,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
860,35,637,4,3,4,23,13.0,0.0,1.0,0.0,1.0,0.0,0.0
15795,66,729,4,4,4,7,18.0,0.0,0.0,1.0,0.0,0.0,1.0

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
lr = LogisticRegression()

In [31]:
lr.fit(x_train,y_train)

c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
lr.score(x_train,y_train)

0.8629244455582007

In [33]:
lr.score(x_test,y_test)

0.854404209998747

In [34]:
# from sklearn.ensemble import RandomForestClassifier
# rd = RandomForestClassifier()
# rd.fit(x_train,y_train)
# print(rd.score(x_train,y_train))
# # print(rd.score(x_test,y_test))

c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.999812053627365

In [35]:
from sklearn.metrics import log_loss

In [36]:
pred = lr.predict(x_test)

In [37]:
y_test['prediction'] = pred

In [38]:
y_test

       Customer Type_disloyal Customer  prediction
21485                              1.0         1.0
37296                              1.0         1.0
5288                               0.0         0.0
13852                              0.0         0.0
19949                              0.0         0.0
...                                ...         ...
16801                              0.0         0.0
23455                              1.0         0.0
18114                              0.0         1.0
25405                              1.0         1.0
4419                               0.0         0.0

[7981 rows x 2 columns]

In [39]:
log_loss(y_test['Customer Type_disloyal Customer'],y_test['prediction'])

5.247804189719851