<img src="Broad-Classification-of-Machine-Learning-Techniques.png" width=420 height=250>

# Classification 
* y categerigal 
* 2 class = binary classfication 
# Aloritheam

# Logistic regression
Logistic regression is a supervised machine learning algorithm used for classification tasks where the goal is to predict the probability that an instance belongs to a given class or not. Logistic regression is a statistical algorithm which analyze the relationship between two data factors. The article explores the fundamentals of logistic regression, it’s types and implementations.
* Logistic regression is used for binary classification where we use sigmoid function, that takes input as independent variables and produces a probability value between 0 and 1.
### Types of Logistic Regression
On the basis of the categories, Logistic Regression can be classified into three types:

Binomial: In binomial Logistic regression, there can be only two possible types of the dependent variables, such as 0 or 1, Pass or Fail, etc.
Multinomial: In multinomial Logistic regression, there can be 3 or more possible unordered types of the dependent variable, such as “cat”, “dogs”, or “sheep”
Ordinal: In ordinal Logistic regression, there can be 3 or more possible ordered types of dependent variables, such as “low”, “Medium”, or “High”.

# Key Points:
* Logistic regression predicts the output of a categorical dependent variable. Therefore, the outcome must be a categorical or discrete value.
* It can be either Yes or No, 0 or 1, true or False, etc. but instead of giving the exact value as 0 and 1, it gives the probabilistic values which lie between 0 and 1.
* In Logistic regression, instead of fitting a regression line, we fit an “S” shaped logistic function, which predicts two maximum values (0 or 1).

# Logistic Function – Sigmoid Function
* The sigmoid function is a mathematical function used to map the predicted values to probabilities.
* It maps any real value into another value within a range of 0 and 1. The value of the logistic regression must be between 0 and 1, which cannot go beyond this limit, so it forms a curve like the “S” form.
* The S-form curve is called the Sigmoid function or the logistic function.
* In logistic regression, we use the concept of the threshold value, which defines the probability of either 0 or 1. Such as values above the threshold value tends to 1, and a value below the threshold values tends to 0.

<!-- ![Alt text](E:\Python_Library\Machine_learning\singmoid function .png "Optional title") -->
<h2>Activation function</h2>
<img src="./hello/singmoid function .png" width=420 height=250>

In [2]:
#absolute path c/g/hjh/thhgyy/hwllo.txt
#relative path khkhkhk

In [3]:
# <!-- ![Alt text](E:\Python_Library\Machine_learning\singmoid function .png "Optional title") -->
# <img src="E:\Python_Library\Machine_learning\singmoid function .png" alt="Alt text" title="Optional title">

In [4]:
# import the necessary libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import sklearn as sns
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
cust_satisfaction_dt = pd.read_csv('cust_satisfaction.csv')
cust_satisfaction_dt

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [6]:
# cust_satisfaction_dt.isnull().sum() 
cust_satisfaction_dt.dropna(inplace=True)

In [7]:
# cust_satisfaction_dt.isnull().sum()
# cust_satisfaction_dt['Customer Type'].value_counts()
# cust_satisfaction_dt_dt = {'Loyal Customer':1,'disloyal Customer':0} # create a dict 
#balance data and inblance 
  ##

In [8]:
cust_satisfaction_dt.drop_duplicates(inplace=True)

In [9]:
cust_satisfaction_dt.duplicated().sum()

0

In [10]:
cust_satisfaction_dt

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [11]:
# divide data in two parts 
loyal_customer =cust_satisfaction_dt[cust_satisfaction_dt['Customer Type']=='Loyal Customer']
disloyal_Customer =cust_satisfaction_dt[cust_satisfaction_dt['Customer Type']=='disloyal Customer']

In [12]:
# loyal_customer.value_counts()

In [13]:
loyal_cust=loyal_customer.sample(21000) # sample are used to get value from another feature

In [14]:
balance_df = pd.concat([loyal_cust,disloyal_Customer],axis=0) # add freature 
balance_df.head()
balance_df.shape

(39905, 12)

In [15]:
cat_col = balance_df.select_dtypes(include='O') # select_dtypes are used select the data (inclde="O") with object 
cat_col.head()
cat_col.shape

(39905, 5)

In [16]:
num_value = balance_df.select_dtypes(exclude='O')# select_dtypes are used select the data (inclde="O") without object 
num_value.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
20775,16,967,1,4,1,0,0.0
83111,55,3268,4,4,3,0,0.0
36108,43,991,4,3,4,0,14.0
79390,22,3999,3,3,3,0,0.0
103599,38,283,3,3,3,0,0.0

In [17]:
from sklearn.preprocessing import LabelEncoder ,OneHotEncoder # label data and one hot data find krne ke function

In [18]:
onehot_encoder  = OneHotEncoder(drop='if_binary') # create object of onehotencoder 
# onehot_encoder01 = OneHotEncoder()
onehot_data =onehot_encoder.fit_transform(cat_col).toarray() 
onehot_encoder.get_feature_names_out()

array(['Gender_Male', 'Customer Type_disloyal Customer',
       'Type of Travel_Personal Travel', 'Class_Business', 'Class_Eco',
       'Class_Eco Plus', 'satisfaction_satisfied'], dtype=object)

In [19]:
onehot_data =onehot_encoder.fit_transform(cat_col).toarray()
# onehot_data.shape
onehot_data.shape

(39905, 7)

In [20]:
coloum_name_lst =list(onehot_encoder.get_feature_names_out())
coloum_name_lst

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [21]:
onehot_data

array([[1., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [22]:
one_hot=pd.DataFrame(onehot_data,columns=coloum_name_lst) # create a data  fram by using dataframe 
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [23]:
num_value.reset_index(drop = True,inplace = True) # reset of index value

In [24]:
final_df = pd.concat([num_value,one_hot],axis=1) #join of two feature by using concat function 
final_df.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,16,967,1,4,1,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1,55,3268,4,4,3,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,43,991,4,3,4,0,14.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,22,3999,3,3,3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,38,283,3,3,3,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
final_df.isnull().sum()# find the sum value of data set
# final_df.duplicated().sum()

Age                                0
Flight Distance                    0
Inflight entertainment             0
Baggage handling                   0
Cleanliness                        0
Departure Delay in Minutes         0
Arrival Delay in Minutes           0
Gender_Male                        0
Customer Type_disloyal Customer    0
Type of Travel_Personal Travel     0
Class_Business                     0
Class_Eco                          0
Class_Eco Plus                     0
satisfaction_satisfied             0
dtype: int64

In [26]:
# final_df.to_csv('cust_satisfaction_cleaned.csv',index=False)
x = final_df.drop('Customer Type_disloyal Customer',axis=1) # divide of data in two parts x and y 
y = final_df[['Customer Type_disloyal Customer']]

In [27]:
x

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,16,967,1,4,1,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
1,55,3268,4,4,3,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,43,991,4,3,4,0,14.0,1.0,0.0,0.0,1.0,0.0,0.0
3,22,3999,3,3,3,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,38,283,3,3,3,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,37,596,3,3,3,110,121.0,0.0,0.0,1.0,0.0,0.0,0.0
39901,24,1055,1,5,1,13,10.0,0.0,0.0,0.0,1.0,0.0,0.0
39902,23,192,2,4,2,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0
39903,30,1995,4,4,4,7,14.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,22,1000,1,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
from sklearn.model_selection import train_test_split # train test split data

In [29]:
x_train,x_test ,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)  # divivde of data in 4th parts # random_state that is find average between 42 item

In [30]:
x_train

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
33048,37,328,4,1,4,11,15.0,1.0,0.0,0.0,1.0,0.0,0.0
5572,28,794,5,5,4,152,150.0,1.0,0.0,1.0,0.0,0.0,1.0
3806,53,1504,3,3,4,0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
35907,23,305,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
19707,64,717,4,4,4,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,47,1644,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
11284,17,3335,3,4,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38158,36,666,3,5,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
860,48,386,4,4,4,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
15795,49,2749,4,2,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [31]:
from sklearn.linear_model import LogisticRegression
 # logiacal regration equations

In [32]:
lr = LogisticRegression() # Object of logicalregression function

In [33]:
lr.fit(x_train,y_train) # fit of data x_train and y_train

c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [34]:
lr.score(x_train,y_train)

0.8626738503946874

In [35]:
lr.score(x_test,y_test)

0.8567848640521238

In [36]:
# from sklearn.ensemble import RandomForestClassifier
# rd = RandomForestClassifier()
# rd.fit(x_train,y_train)
# print(rd.score(x_train,y_train))
# # print(rd.score(x_test,y_test))

In [37]:
from sklearn.metrics import log_loss

In [38]:
pred = lr.predict(x_test) # find the predict value 
pred

array([1., 1., 0., ..., 0., 1., 0.])

In [39]:
x_train

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
33048,37,328,4,1,4,11,15.0,1.0,0.0,0.0,1.0,0.0,0.0
5572,28,794,5,5,4,152,150.0,1.0,0.0,1.0,0.0,0.0,1.0
3806,53,1504,3,3,4,0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
35907,23,305,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
19707,64,717,4,4,4,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,47,1644,4,4,4,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
11284,17,3335,3,4,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38158,36,666,3,5,3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
860,48,386,4,4,4,0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
15795,49,2749,4,2,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [40]:
y_test['prediction'] = pred #create a feature in data set

In [41]:
y_test.head()

       Customer Type_disloyal Customer  prediction
21485                              1.0         1.0
37296                              1.0         1.0
5288                               0.0         0.0
13852                              0.0         0.0
19949                              0.0         0.0

# model evaluction

In [42]:
y_test['Customer Type_disloyal Customer'].value_counts()

Customer Type_disloyal Customer
0.0    4217
1.0    3764
Name: count, dtype: int64

In [43]:
y_test['prediction'].value_counts()

prediction
0.0    4178
1.0    3803
Name: count, dtype: int64

In [44]:
from sklearn.metrics import confusion_matrix,classification_report

In [45]:
print(classification_report(y_test['Customer Type_disloyal Customer'],y_test['prediction']))
# (3709+3101)/(3101+663+508+3709) =score = accuracy = (tp+tn )/(tp+tn+fn+fp)
# precision = tp /tp +fp (false postive (reduce))
# _recall = tp /tp +fn (false nagative (reduce))
# f1_score/harmonic mean of precission and recall = 
#  support = totel points

              precision    recall  f1-score   support

         0.0       0.87      0.86      0.86      4217
         1.0       0.84      0.85      0.85      3764

    accuracy                           0.86      7981
   macro avg       0.86      0.86      0.86      7981
weighted avg       0.86      0.86      0.86      7981

In [46]:
matrix = confusion_matrix(y_test['Customer Type_disloyal Customer'],y_test['prediction'])
matrix

array([[3626,  591],
       [ 552, 3212]], dtype=int64)

In [47]:
# (3709+3101)/(3101+663+508+3709) =score = accuracy = (tp+tn )/(tp+tn+fn+fp)
# precision = tp /tp +fp
# _recall =

In [48]:
import sklearn as sns

In [49]:
sns.heatmap(matrix,annot = True,fmt = 'd')

AttributeError: module 'sklearn' has no attribute 'heatmap'

In [ ]:
prediction_01= lr.predict_proba(x_test)
prediction_01

array([[0.02397926, 0.97602074],
       [0.04024489, 0.95975511],
       [0.99891298, 0.00108702],
       ...,
       [0.95220539, 0.04779461],
       [0.60606294, 0.39393706],
       [0.33122738, 0.66877262]])

In [ ]:
log_loss(y_test['Customer Type_disloyal Customer'],y_test['prediction'])

6.042652328610292